@tailwind base;
@tailwind components;
@tailwind utilities;

/* cyrillic-ext */
@font-face {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/cormorantgaramond/v16/co3YmX5slCNuHLi8bLeY9MK7whWMhyjQWlhfsw-I1hc.woff2)
        format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
        U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/cormorantgaramond/v16/co3YmX5slCNuHLi8bLeY9MK7whWMhyjQWlhfug-I1hc.woff2)
        format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/cormorantgaramond/v16/co3YmX5slCNuHLi8bLeY9MK7whWMhyjQWlhfsQ-I1hc.woff2)
        format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
        U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323,
        U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/cormorantgaramond/v16/co3YmX5slCNuHLi8bLeY9MK7whWMhyjQWlhfsA-I1hc.woff2)
        format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
        U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/cormorantgaramond/v16/co3YmX5slCNuHLi8bLeY9MK7whWMhyjQWlhfvg-I.woff2)
        format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/forum/v18/6aey4Ky-Vb8Ew8IcOpIq3g.woff2)
        format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
        U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/forum/v18/6aey4Ky-Vb8Ew8IVOpIq3g.woff2)
        format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/forum/v18/6aey4Ky-Vb8Ew8IfOpIq3g.woff2)
        format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
        U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/forum/v18/6aey4Ky-Vb8Ew8IROpI.woff2)
        format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2)
        format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
        U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2)
        format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.sidebar-transition-open {
    transition: all 250ms cubic-bezier(0, 1, 1, 1);
}

.sidebar-transition-close {
    transition: all 250ms 250ms cubic-bezier(0, 1, 1, 1);
}

.sidebar-button-text-transition-open {
    transition: height 250ms 250ms cubic-bezier(0, 1, 1, 1);
}

.sidebar-button-text-transition-close {
    transition: height 250ms cubic-bezier(0, 1, 1, 1);
}

.poppins-light {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.forum-regular {
    font-family: 'Forum', serif;
    font-weight: 400;
    font-style: normal;
}

.cormorant-garamond-medium {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-style: normal;
}

.modal-wrapper {
    backdrop-filter: blur(3px);
    animation-name: anim-modal-wrapper;
    animation-duration: 250ms;
    animation-iteration-count: 1;
}

.modal-reservation-card-wrapper {
    animation-name: anim-modal-reservation-card-wrapper;
    animation-duration: 250ms;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(1, -0.01, 0.34, 1);
    height: 30rem;
}

.modal-secondary-wrapper {
    animation-name: anim-modal-secondary-wrapper;
    animation-duration: 250ms;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(1, -0.01, 0.34, 1);
}

@keyframes anim-modal-wrapper {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes anim-modal-reservation-card-wrapper {
    from {
        height: 0px;
    }
    to {
        height: 30rem;
    }
}

@keyframes anim-modal-secondary-wrapper {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

/******************
---MEDIA QUERIES---
******************/
@media (min-width: 640px) {
    /*sm*/
}
@media (min-width: 768px) {
    /*md*/
    .modal-reservation-card-wrapper {
        height: 33rem;
        max-height: 33rem;
    }

    @keyframes anim-modal-reservation-card-wrapper {
        from {
            height: 0px;
        }
        to {
            height: 33rem;
        }
    }

    @keyframes anim-modal-secondary-wrapper {
        from {
            width: 0%;
        }
        to {
            width: 20rem;
        }
    }
}
@media (min-width: 1024px) {
    /*lg*/
}
@media (min-width: 1280px) {
    /*xl*/
}

/** DISABLED CSS
.thread {
    height: 1px;
    transform: scaleY(1.5) translateY(-100%);
}

.time-div .reservation-card:first-child .thread {
    height: 1px;
}
*/
